.rector-element {
    border-radius: 2px;
    border: 1px solid rgb(234, 234, 234);
    display: block;
    margin-bottom: 50px;
    padding: 15px 10px 0 10px;
}

.rector-element + .rector-element {
    margin-top: -40px;
}

.rector-element > pre {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid rgb(234, 234, 234);
    margin: 15px -10px 0 -10px;
    padding: 10px;
}

rector-scope {
    font-family: Consolas,'Liberation Mono',Courier,monospace;
    font-size: 13px;
    line-height: 17px;
}

.rector-element > pre,
.rector-element > pre > code {
    background-color: rgb(249, 249, 249);
    font-family: Consolas,'Liberation Mono',Courier,monospace;
    font-size: 13px;
    line-height: 17px;
    overflow: scroll;
    white-space: pre;
    word-break: break-all;
}
